<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:"http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0" package="com.simplemobiletools.gallery" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application android:theme="@style/AppTheme" android:label="@string/app_launcher_name" android:icon="@mipmap/launcher" android:allowBackup="true" android:supportsRtl="true">
        <activity android:name="com.simplemobiletools.gallery.activities.MainActivity" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
        </activity>
        <activity android:name="com.simplemobiletools.gallery.activities.MediaActivity" android:parentActivityName="com.simplemobiletools.gallery.activities.MainActivity" />
        <activity android:theme="@style/FullScreenTheme" android:name="com.simplemobiletools.gallery.activities.ViewPagerActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:parentActivityName="com.simplemobiletools.gallery.activities.MediaActivity">
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/about" android:name="com.simplemobiletools.gallery.activities.AboutActivity" android:parentActivityName="com.simplemobiletools.gallery.activities.MainActivity" />
        <activity android:label="@string/third_party_licences" android:name="com.simplemobiletools.gallery.activities.LicenseActivity" android:parentActivityName="com.simplemobiletools.gallery.activities.AboutActivity" />
        <activity android:label="@string/settings" android:name="com.simplemobiletools.gallery.activities.SettingsActivity" android:parentActivityName="com.simplemobiletools.gallery.activities.MainActivity" />
        <activity android:name="com.simplemobiletools.gallery.activities.PhotoVideoActivity" />
        <activity android:theme="@style/FullScreenTheme" android:name="com.simplemobiletools.gallery.activities.PhotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/FullScreenTheme" android:name="com.simplemobiletools.gallery.activities.VideoActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/editor" android:name="com.simplemobiletools.gallery.activities.EditActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/simple_wallpaper" android:name="com.simplemobiletools.gallery.activities.SetWallpaperActivity">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
